<br>
<a routerLink="/listar-ranking-alumno" routerLinkActive="active" class="profile-edit-btn">Volver</a>

<body>
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Todos tus <b>Rankins</b></h2>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Nick del usuario</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Puntos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <!-- <tr *ngFor="let ListaRanking of ListaRanking; index as i ">
              <td></td>
              <td>{{ListaRanking['nick']}}</td>
              <td>{{ListaRanking['nombre']}}</td>
              <td>{{ListaRanking['apellido']}}</td>
              <td>{{ListaRanking['punto']}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
