<br>
<a routerLink="/perfil-profesor" routerLinkActive="active" class="profile-edit-btn">Volver</a>

<body>
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Todos tus <b>Rankins</b></h2>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Nombre Ranking</th>
              <th>Codigo del Profesor</th>
              <th></th>
              <th>Acciones</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ListaRanking of ListaRanking; index as i ">
              <td></td>
              <td></td>
              <td>{{ListaRanking['NomRanking']}}</td>
              <td>{{ListaRanking['Cod']}}
                <a (click)="modcod(i)"><i class="material-icons"
                  data-toggle="tooltip" title="Modificar Codigo">&#xe863;	</i></a>
              </td>
              <td></td>
              <td>
                <a class="ver" (click)="ver(i)"><i class="material-icons"
                  data-toggle="tooltip" title="Ver">&#xe417;   </i></a>
                <a class="edit"(click)="edit(i)"><i class="material-icons"
                    data-toggle="tooltip" title="Editar">&#xE254;    </i></a>
                <a class="delete" (click)="borrar(i)"><i class="material-icons"
                    data-toggle="tooltip" title="Borrar">&#xE872;</i></a>

              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
