<a routerLink="/perfil-profesor" routerLinkActive="active" class="profile-edit-btn">Atras</a>
<div class="container emp-profile">
  <div class="col-md-8">
    <div class="tab-content profile-tab" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form #itemForm="ngForm" (ngSubmit)="onFormSubmit(itemForm)">
          <div class="row">
            <div class="col-md-6">
              <label>Nick:</label>
            </div>
            <div class="col-md-6">
              <input type="text"  class="fadeIn second" id="nick" name="nick"  [(ngModel)]="this.perfilProfesor[0].nick" readonly >
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <label>Email:</label>
            </div>
            <div class="col-md-6">
              <input type="text"  class="fadeIn second" id= "email" name="email" [(ngModel)]="this.perfilProfesor[0].email"  >
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <label>Nombre:</label>
            </div>
            <div class="col-md-6">
              <input type="text"  class="fadeIn second" id= "nombre" name="nombre" [(ngModel)]="this.perfilProfesor[0].nombre"  >
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <label>Apellidos:</label>
            </div>
            <div class="col-md-6">
              <input type="text"  class="fadeIn second" id= "apellidos" name="apellidos" [(ngModel)]="this.perfilProfesor[0].apellidos"  >
            </div>
          </div>
          <br>
          <div class="row">
          <div class="col-md-6">
            <label>Centro:</label>
          </div>
          <div class="col-md-6">
            <input type="text"  class="fadeIn second" id= "centro" name="centro" [(ngModel)]="this.perfilProfesor[0].centro"  >
          </div>
          </div>
          <br><br>
          <div style=margin-left:58%;>
          <input type="submit" class="fadeIn fourth" value="Modificar">
        </div>
        </form>
      </div>
    </div>
  </div>
